body {
  font: 15px/1.5 Arial, Helvetica sans-serif;
  padding: 0;
  margin:0;
  background-color: #FFFFFF;


}
.container {
  width: 80%
  margin:auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;

}

/* code for header*/
header {
  background-color: #353637;
  color: #FFF;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #32A0C2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #Title {
float: left;
padding-left: 25px;
}

header #Title h1 {
  margin: 0;

}
header nav {
  float: right;
  margin-top: 10px;


}
header a:hover {
  color: #ccc;
  font-weight: bold;

}

/* code for TitleRibbon */
#TitleRibbon {
 background:url(images/bg.jpeg) repeat-x 0 0;
 text-align:center;
}
#TitleRibbon .container {
  margin: 0 auto;
  margin:0 auto;
}
#TitleRibbon h1{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);

  font-size: 74px;
  color: white;
}
#TitleRibbon p {
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 30px;
  color: white;

}

#TitleRibbon img {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}


/*socials code*/
#Socials {
  background-color: #FFFFFF;
  width:45%;
  padding-left: 50px;
  float: left;
}

#Socials h1 {
  color: #000000;
  text-align:center;

}

#Socials a{
  text-align: center;

}

/*code for content*/
#content {
  float: right;
  width: 50%;
  height: 100%;
  background-color: #FFFFFF

}
/*code for footer*/
footer {
  background-color: #353637;
  height: 200px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  overflow: hidden;


}

#SocialMedia{
  width:45%;
  padding-left: 50px;
  float: left;
}

#ContactMe {
  width: 50%;
  float: right;

}

#ContactMe  a:link {
  color:#ffffff

}

/*code for subpages - personal_projects*/
#content_personal_page {
  float: left;
  width: 95%;
  padding-left: 50px;

}

/*styling social media icons*/
.fa {

  padding: 10px;
  bottom: 200px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%
}

.fa :hover {
      opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
  background: #0077B5;
  color: white;

}
.fa-facebook{
  background-color: #3b5998;
  color: white;
}

.fa-github {
  background-color: white;
  color:#333;

}
